header {
  background-color: burlywood;
  display: flex;
  justify-content: center;
}

body {
  height: 100px;
  width: 100%;
  background-color: aquamarine;
}
footer {
  background-color: coral;
  flex-grow: 0;
  flex-shrink: 0;
}
.navbar {
  background-color: dimgray;
  border-radius: 50px;
}
.container-fluid {
  background-color: rgb(37, 178, 197);
  border-radius: 50px;
}
.form-control {
  background-color: rgb(165, 126, 201);
  color: black;
}
