header {
  background-color: burlywood;
  display: flex;
  justify-content: center;
}

body {
  height: 100px;
  width: 100%;
  background-color: aquamarine;
}
footer {
  background-color: coral;
  flex-grow: 0;
  flex-shrink: 0;
}
